
h1{
    
    display: flex;
    justify-content: center;
    color: blue;
    border: 2px solid blue;
    font-family: fantasy;
    border-radius: .2rem;
    margin:5rem 7rem 0 7rem;
}
main{
   margin:3rem 10rem;
}
#clear{
    float: right;
}
 ul a:hover{
    font-weight: bold; 
}
h1:hover{
     box-shadow: 0 0 .5rem .1rem;
}
@media screen and (max-width:700px) {
    main{
        margin: .2rem;
    }
   h1{
       margin: 1rem;
   }
  #clear{
      margin: .1rem;
  }
}